In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv("winequality-red.csv")

In [2]:
df.shape

(1599, 12)

In [3]:
df.sample(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1080,10.3,0.27,0.56,1.4,0.047,3.0,8.0,0.99471,3.16,0.51,11.8,6
528,8.2,0.42,0.49,2.6,0.084,32.0,55.0,0.99880,3.34,0.75,8.7,6
510,12.4,0.42,0.49,4.6,0.073,19.0,43.0,0.99780,3.02,0.61,9.5,5
460,9.2,0.43,0.52,2.3,0.083,14.0,23.0,0.99760,3.35,0.61,11.3,6
1361,8.3,0.85,0.14,2.5,0.093,13.0,54.0,0.99724,3.36,0.54,10.1,5

In [4]:
X=df.drop(columns=["placed"])
Y=df["placed"]

# Without Scaling

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=.25,random_state=2)

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score


# scaler=StandardScaler()
# x_train_scaled=scaler.fit_transform(x_train)
# x_test_scaled= scaler.transform(x_test)
LG=LogisticRegression().fit(x_train,y_train)
y_pred=LG.predict(x_test)
accuracy_score(y_test,y_pred)


result=LG.predict(np.array([[6,96,32]]))
result[0]

C:\Users\KAJAL\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

1

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=.25,random_state=2)

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score


scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled= scaler.transform(x_test)
LG=LogisticRegression().fit(x_train_scaled,y_train)
y_pred=LG.predict(x_test_scaled)
accuracy_score(y_test,y_pred)

result=LG.predict(scaler.transform([[6,96,32]]))

result[0]

C:\Users\KAJAL\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

1

# pickeling and unpickeling

In [8]:
import pickle
pickle.dump(LG,open("model.pkl","wb"))

In [9]:
df.sample(10)

     cgpa   iq  profile_score  placed
34   7.55   92             63       1
204  6.55  107             59       0
247  6.75   92             39       1
96   5.25  113             65       0
238  8.29   89             70       1
158  4.90  110             44       0
0    5.97  106             61       0
213  6.44  102             54       0
215  7.00  104             48       0
154  5.56  117             68       1

In [31]:
LG.predict(np.array([[0, 0,0]]))

/Users/ashishkhedkar/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1])